body {
    text-align: center;
}


.arrow {
  width:30%;
  height: 100%;
  justify-content: center;
  border: black 1px solid;
  border-radius: 8%;
}


.button-box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#up {
  margin: 0 20%;
}

#left {
  margin: 5% 8% 5% 0%;
}

#right {
  margin: 5% 0% 5% 8%;
}

#down {
  margin: 0 20%;
}

@media only screen and (min-width: 768px) {
  .button-box {
   display: none;
  }

}
